/* 메인 컨테이너 스타일 */
.container {
    max-width: 1440px;
    min-width: 1100px;
    width: 100%;
    margin: 0 auto; 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
/* 상단(차트, 로그인) 스타일 */
.topSection {
    display: flex;
    gap: 20px; 
}  
/* 차트 영역 스타일 */
.chartContainer {
    width: 1000px;
    max-width: 100%;
    height: 400px;
    max-height: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(118, 118, 128, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}
.chart {
    width: 500px;
    max-width: 100%;
    height: 337px;
    max-height: auto;
    background-color: #E3EEFA;
    border-radius: 10px;
}
.chartTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    font-size: 2rem;
    font-weight: bold;
}
.highlight {
    color: #006ADD;
}
.gotoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006ADD;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1.5625rem 1.125rem;
    width: 180px;
    cursor: pointer;
}
/* 로그인 영역 스타일 */
.loginContainer {
    width: 400px; 
    max-width: 100%;
    height: 400px;
    max-height: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(118, 118, 128, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signSection {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.signBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 1.875rem 2rem;
    cursor: pointer;
}
.announcement {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    gap: 0.3rem;
}
.announcementTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}
.announcementContent {
    cursor: pointer;
    font-size: 0.875rem;
}

/* 하단(종목목록) 스타일 */
.stockTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 80px
}
/* 종목목록 영역 스타일 */
.stockListContainer {
    width: 1420px;
    max-width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(118, 118, 128, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
    gap: 55px;
}
.tab {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.kategorie {
    width: 100%;
    background-color: #F5F5F5;
    color: #999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1.5rem 4.6875rem ;
    gap: 80px;
}
.moreBtn {
    font-size: 1.5rem;
    font-weight: bold;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}