  /* 주식주문 폼 스타일 */
.orderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .orderContents {
    display: flex;
    flex-direction: row;
  }
  .title {
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999999;
  }
  .myMoney {
    font-size: 0.75rem;
    font-weight: bold;
    color: black;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
  }
  .myMoney span {
    color: #006ADD;
    font-size: 1rem;
    margin-right: 10px;
  }

  /* 왼쪽: 호가 정보 */
  .quoteBox {
    height: 350px; /* 원하는 높이 */
    width: 124px;
    overflow: hidden;
  }
  .scrollArea {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 3px;
  }
  .bid {
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: #E3EEFA;
  }
  .ask {
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: #FFD1D1;
  }
  
  /* 오른쪽: 주문 폼 */
  .orderForm {
    width: 235px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .row {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D9D9D9;
    overflow-x: auto;
    gap: 1px;
  }
  .row label {
    font-size: 0.75rem;
    color: #999999;
    margin-bottom: 0.25rem;
  }
  .rowContainer input {
    min-width: 120px;
    padding: 0.2rem;
    width: 75%;
    white-space: nowrap;
    max-width: none;
    outline: none;
  }
  .rowContainer select {
    font-size: 0.75rem;
    background-color: #D0D0D0;
    color: #999999;
    height: 28px;
  }

  .total{
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .total label {
    font-size: 0.75rem;
    color: #999999;
    margin-bottom: 0.25rem;
  }
  .totalContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0.2rem;
    border: 1px solid #D9D9D9;
  }
  .totalContainer input {
    width: 100%;
    border: none;
    outline: none;
    text-align: left; /* 숫자 왼쪽 정렬 */
    padding-right: 2rem; /* "원" 들어갈 공간 확보 */
    font-size: 1rem;
  }
  .totalContainer span {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 0.875rem;
    pointer-events: none; /* 클릭 안 되게 */
  }
  .checkboxWrapper {
    color: #999999;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .checkboxWrapper label {
    color: #999999;
    padding-top: 5px;
  }
  
  .tabGroup {
    display: flex;
  }
  
  .tab {
    flex: 1;
    padding: 0.75rem 1rem;
    color: #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .activeBid {
    color: #CB3030;
    border-color: #CB3030;
  }
  .activeAsk {
    color: #2D7CD1;
    border-color: #2D7CD1;
  }
  
  .submit {
    width: 100%;
    padding: 0.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  .bidColor {
    background-color: #CB3030;
    color: white;
  }
  .askColor {
    background-color: #2D7CD1;
    color: white;
  }

  .priceBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 1.25rem;
    color: #999999;
    background-color: #D0D0D0;
  }

  